<div class="row">
<div class="col-md-12">

<div class="panel panel-default">
  
   <div class="panel-body">
     
     <%= form_for([@pin, Comment.new]) do |f| %>
        <div class="form-group">
          <%= f.label :description, 'Nowy komentarz:' %><br>
          <%= f.text_area :description, class: 'form-control'%>
        </div>
        <div class="actions">
          <%= f.submit 'Dodaj komentarz', class: "btn btn-primary" %>
        </div>
      <% end %>
     
   </div>
  
</div>

</div>
</div>