<div class="row">
<div class="col-md-offset-3 col-md-6">

<div class="panel panel-default">
   <div class="panel-heading">
     <h2>Edycja komentarza</h2>
   </div>
  
   <div class="panel-body">
     <%= render 'form' %>
   </div>
   
   <div class="panel-footer">
      <div class="row">
         <div class="col-md-6">
            <%= link_to 'Wstecz', pin_path(@pin), class: "btn btn-default" %>
         </div>
      </div>
   </div>
</div>

</div>
</div>
